# Python
__pycache__/
*.py[cod]
python/
=/
wandb/

# Training
results/
results-v2/
results-v3/
stlenc-training/
results-speedup/
final-model/
pushed-model/
wandb/
.ipynb_checkpoints/

# Environments
.venv/
env/

# Work-in-progress dirs
wip/
results-speedup/
slurm_outputs/
src/
sh-files/
